table, th, td {
  background-color: turquoise;
  border: 1px solid black;
  text-align: right;
  border-collapse: collapse;
  padding: 3px;
}

thead {
  vertical-align: bottom;
}

td:hover {
  background-color: yellow;
}

.tab {
  padding-left: 10px;
}

#Rule {
  border: 1px solid black;
  padding: 3px;
  width: 550px;
  position: absolute;
  left: 450px;
}
